/* inter-regular - latin */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/inter-v12-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/inter-v12-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* inter-500 - latin */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    src: local(''),
         url('../fonts/inter-v12-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/inter-v12-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* inter-700 - latin */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/inter-v12-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/inter-v12-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  html{
    box-sizing: border-box;
  }
  *, *::before, *::after{
        box-sizing: inherit;
  }
body{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    margin: 0 auto;
    background-color: #060606;
}
.backGround{
    width: 960px;
    height: 100vh;
}
#wavesBackGround{
    width: 100%;
    height: 600px;
}
/* Начало header первыx 600px  ===============================================================================>*/
.container{
    width: 960px;
    height: 600px;
}
.rectangle{
    position: absolute;
    width: 100%;
    height: 600px;
    background: #f7f4f460;
}
header{
    width: 100%;
    height: 100px;
}

.zeroLine{
    position: absolute;
    top: 25px;
    left: 50px;
}
.style_ZL{
    position: absolute;
    width: 147px;
    height: 44px;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    color: #FFFFFF;
}
.header__up__list{
    position: absolute;
    width: 100%;
    height: 48px;
    top:26px;
    display: flex;
    flex-wrap: nowrap;
    justify-content:flex-end;
    
}
.style_SI{
    padding-top: 15px;
    width: 51px;
    height: 19px;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    
}
.style_SU{
    font-size: 16px;
    line-height: 19px;
    display: flex;
    justify-content: center;
    align-items: center;     
    color: #FFFFFF;
    background: #04182F;
    width: 110px;
    height: 48px; 
    margin-right: 62px;
    
}
.header_item{
    margin-left: 57px;
}

.intro_title{
    position: absolute;
    top: 167px;
    left: 62px;
    width: 553px;
    height: 135px;
    font-size: 50px;
    line-height: 70px;
    color: #000000;
    font-weight: 500;
}
.intro__button__start{
    position: absolute;
    width: 245px;
    height: 53px;
    left: 63px;
    top: 442px;
    display: flex;
    justify-content: center;
    align-items: center;   
    background: #04182F;
    color: #FFFFFF;
}

/* Конец header   ===============================================================================>*/



/* Начало main ============================================================> */
main{
    position: relative;
    margin-top: 600px;
    width: 960px;
    height: 100vh;
    margin: 0 auto;
}
.main__list{
    height: 1248px;
}
/* ----------------------------------------------------------------------------- */
.main__list__item__1{
    height: 445px;
    width: 100%;
    position: inherit;

}
.list__item__topic__1{
    position: absolute;
    top: 138px;
    left: 146px;
    width: 212px;
    height: 30px;
    font-size: 25px;
    line-height: 30px;
    color: #FFFFFF;
}
.list__item__text__1{
    position: absolute;
    width: 396px;
    height: 108px;
    top: 180px;
    left: 52px;
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
}
.list__item__1__img{
    position: absolute;
    width: 400px;
    height: 300px;
    left: 516px;
    top: 96px;
    background: #FFFFFF;
}
.list__item__img__1{
    position: absolute;
    left: 590px;
    top:120px;
}
/* ----------------------------------------------------------------------------- */

.main__list__item__2{
    position: inherit;
    height: 385px;
    width: 100%;
    background: #161614;
}
.list__item__topic__2{
    position: relative;
    width: 212px;
    height: 30px;
    left: 657px;
    top: 46px;

    font-size: 25px;
    line-height: 30px;

    color: #FFFFFF;
}
.list__item__text__2{
    position: relative;
    width: 396px;
    height: 108px;
    left:516px;
    top: 113px;

    font-size: 20px;
    line-height: 27px;

    color: #FFFFFF;
}
.list__item__2__img{
    position: absolute;
    width: 400px;
    height: 300px;
    left: 43px;
    top: 469px;

    background: #FFFFFF;
}
.list__item__img__2{
    position: absolute;
    left: 100px;
    top:492px;
}

/* ------------------------------------------------------------------------------------------- */
.main__list__item__3{
    position: inherit;
    height: 418px;
    width: 100%;
}
.list__item__topic__3{
    position: relative;
    width: 328.98px;
    height: 60px;
    left: 75px;
    top: 70px;

    font-size: 25px;
    line-height: 30px;
    color: #FFFFFF;
}
.list__item__text__3{
    position: absolute;
    width: 396px;
    height: 108px;
    left: 34px;
    top: 979px;

    font-size: 20px;
    line-height: 27px;

    color: #FFFFFF;
}
.list__item__3__img{
    position: absolute;
    width: 400px;
    height: 300px;
    left: 516px;
    top: 879px;

    background: #FFFFFF;
}
.list__item__img__3{
    position: absolute;
    left: 588px;
    top:900px;
}
/* НАШИ ПРЕИМУЩЕСТВА------------------------------------------------------------------- */
.title_advantages{
    position: relative;
    width: 378px;
    height: 44px;
    left: 295px;
    top: 53px;

    font-size: 36px;
    line-height: 44px;

    color: #FFFFFF;
}
.advantages__list__img{
    height: 461px;
    width: 960px;
    background: #161614; 
    display: flex;
    flex-wrap: nowrap;
}
.adv__item{
    position: relative;
    top: 150px;

    width: 200px;
    height: 200px;
    margin-left: 30px;
    background-color:#FFFFFF;
}
.adv__form_1{
    position: relative;
    left: 18px;
    top: 14px;
}
.adv__text{
    position: absolute;
    top: 233px;
    left: 31px;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #FFFFFF;
}
.adv__form_2{
    position: relative;
    left: 9px;
    top: 11px;
}

.adv__form_3{
    position: relative;
    left: 15px;
    top: 11px;
}

.adv__form_4{
    position: relative;
    left: 14px;
    top: 11px;
}

/*НАШИ ПАРТНЁРЫ------------------------------------------------------------------- */
.information__partners{
    position: absolute;
    height: 440px;
}
/* Конец main ============================================================> */
/* Start authorization */
.wrapper__authorization{
    width: 960px;
    max-width: 100%;
    height: 100vh;
    margin: 0 auto;
    position: absolute;
}
.text_authorization{
    position: absolute;
    width: 580px;
    height: 96px;
    margin-left: 70%;
    margin-right: 190px;
    margin-top: 121px;

    font-size: 64px;
    line-height: 77px;
    display: flex;
    justify-content: center;
    color: #FFFFFF;
}
.authorization__window{

    position: absolute;
    margin-top: 226px;
    margin-left: 70%;
    width: 580px;
    height: 485px;
    /* background: #06060633; */
}
.place__login{
    position: absolute;
    width: 580px;
    height: 29px;
    margin-top: 28px;

    font-size: 24px;
    line-height: 29px;
    display: flex;
    justify-content: center;
    color: #FFFFFF;
}
.authorization__input__login{
    position: absolute;
    margin-top: 68px;
    margin-left: 40px;
    font-size: 40px;
    height: 60px;

    display: flex;
    justify-content: center;

}
.text_password{
    position: absolute;
    width: 580px;
    height: 29px;
    margin-top: 158px;

    font-size: 24px;
    line-height: 29px;
    display: flex;
    justify-content: center;
    color: #FFFFFF;
}
.authorization__input__password {
    position: absolute;
    margin-top: 198px;
    font-size: 40px;
    margin-left: 40px;
    height: 60px;

    display: flex;
    justify-content: center;
}
.password_text_forget{
    position: absolute;
    width: 580px;
    height: 24px;
    margin-top: 280px;


    font-size: 20px;
    line-height: 24px;
    display: flex;
    justify-content: center;
    color: #FFFFFF;
}
.button__log__in {
    position: absolute;
    width: 180px;
    height: 60px;
    font-size: 24px;
    line-height: 29px;
    margin-top: 338px;
    margin-left: 80px;
    display: flex;
    justify-content: center;
    align-items: center;  

    background: #04182F;
    color: #FFFFFF;
}
.login__other__authorization{
    position: absolute;
    width: 180px;
    height: 30px;
    margin-top: 323px;
    margin-left: 320px;

    font-size: 24px;
    line-height: 29px;
    text-align: center;

    color: #FFFFFF;
}
.ref_list{
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    margin-left: 333px;;
}

.ref_item{
    margin-left: 0px;
}
.ref_item_characteristic{
    width: 48px;
    height: 48px;
    margin-top: 361px;
    margin-left: 5px;
}
.ref_item:last-child{
    margin-block-end: 0;
}
.no_account{
    margin-top: 22px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
}
.ref_no_account{
    width: 140px;
    height: 24px;

    font-size: 20px;
    line-height: 24px;

    color: #FFFFFF;
}
/* End authorization */

/* Start blank registration */
.wrapper__registration{
    width: 960px;
    max-width: 960px;
    height: 100vh;
    margin: 0 auto;
    position: relative;
}
.text_registration{
    position: absolute;
    width: 580px;
    height: 96px;
    margin-left: 190px;
    margin-right: 190px;
    margin-top: 121px;

    font-size: 64px;
    line-height: 77px;
    display: flex;
    justify-content: center;
    color: #FFFFFF;
}
.registration__window{

    position: absolute;
    margin-top: 226px;
    margin-left: 190px;
    width: 580px;
    height: 577px;
    background: #06060600;
}
.place__name{
    position: absolute;
    width: 580px;
    height: 29px;
    margin-top: 28px;

    font-size: 24px;
    line-height: 29px;
    display: flex;
    justify-content: center;
    color: #FFFFFF;
}
.registration__input__login{
    position: absolute;
    margin-top: 68px;
    margin-left: 40px;
    font-size: 40px;
    height: 60px;

    display: flex;
    justify-content: center;

}
.place__email{
    position: absolute;
    width: 580px;
    height: 29px;
    margin-top: 155px;

    font-size: 24px;
    line-height: 29px;
    display: flex;
    justify-content: center;
    color: #FFFFFF;
}
.registration__input__email{
    position: absolute;
    margin-top: 195px;
    margin-left: 40px;
    font-size: 40px;
    height: 60px;

    display: flex;
    justify-content: center;

}
.text_password_reg{
    position: absolute;
    width: 580px;
    height: 29px;
    margin-top: 285px;

    font-size: 24px;
    line-height: 29px;
    display: flex;
    justify-content: center;
    color: #FFFFFF;
}
.registration__input__password {
    position: absolute;
    margin-top: 325px;
    font-size: 40px;
    margin-left: 40px;
    height: 60px;

    display: flex;
    justify-content: center;
}
.password_text_forget{
    position: absolute;
    width: 580px;
    height: 24px;

    font-size: 20px;
    line-height: 24px;
    display: flex;
    justify-content: center;
    color: #FFFFFF;
}
.button__create__in{
    position: absolute;
    width: 180px;
    height: 60px;
    font-size: 24px;
    line-height: 29px;
    margin-top: 430px;
    margin-left: 80px;
    display: flex;
    justify-content: center;
    align-items: center;  

    background: #04182F;
    color: #FFFFFF;
}
.reg__other__registration{
    position: absolute;
    width: 180px;
    height: 30px;
    margin-top: 415px;
    margin-left: 320px;

    font-size: 24px;
    line-height: 29px;
    text-align: center;

    color: #FFFFFF;
}

.ref_list_reg{
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    margin-left: 333px;;
}

.ref_item_reg{
    margin-top: 459px;
    margin-left: 5px;
}
.ref_item_reg_characteristic_reg{
    width: 48px;
    height: 48px;
    margin-left: 5px;
}
/* .ref_item_reg:last-child{
    margin-block-end: 0;
} */
.to_be_account{
    margin-top: 20px;
    margin-left: 220px;
}
.ref_to_be_account{
    width: 140px;
    height: 24px;

    font-size: 20px;
    line-height: 24px;

    color: #FFFFFF;
}
/* End blank registration */